<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<html>
    <head>
        <meta charset="utf-8">
        <script src="../Static/lib/esl.js"></script>
        <script src="../Static/lib/config.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="lib/reset.css" />
        <script src="../Static/lib/testHelper.js"></script>
        <script src="../Static/tooltipTestHelper.js"></script>
    </head>
    <body>
        <style>
            h1 {
                line-height: 60px;
                height: 60px;
                background: #ddd;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
            }
            .chart {
                height: 350px;
            }
        </style>


        <h1>dynamic data update tooltip content and keep show</h1>
        <div><a target="_blank" href="dynamicData.html">dynamicData.html</a></div>
        <div><a target="_blank" href="dynamicData2.html">dynamicData2.html</a></div>
        <div><a target="_blank" href="dynamicData3.html">dynamicData3.html</a></div>
        <h1>triggerOn: click, setOption when trigger axis (keep show)</h1>
        <div class="chart" id="click-setOption1"></div>


        <h1>tooltip should auto show and auto disappear when setOption(..., {notMerge: true})</h1>
        <div class="chart" id="setOption2"></div>
        <div class="chart" id="setOption3" style="height: 550px"></div>
